### This is a cool hack from VenomVendor https://stackoverflow.com/questions/5711120/gitignore-binary-files-that-have-no-extension
# to ignore files without extensions

# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

### Above combination will ignore all files without extension ###

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Created by https://www.toptal.com/developers/gitignore/api/vscode
# Edit at https://www.toptal.com/developers/gitignore?templates=vscode

### vscode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# End of https://www.toptal.com/developers/gitignore/api/vscode

input.txt

# C# Rider files
# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.AdventOfCode2021.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# C# Rider+ stuff (custom)
AdventOfCode2021/.idea/
AdventOfCode2021/AdventOfCode2021.sln
AdventOfCode2021/AdventOfCode2021/bin
AdventOfCode2021/AdventOfCode2021/obj
AdventOfCode2021/AdventOfCode2021/AdventOfCode2021.csproj
AdventOfCode2021/AdventOfCode2021/bin/input.txt
AdventOfCode2021/AdventOfCode2021/bin/practiceInput.txt

